#tl_navigation .tl_level_1_group .group-leads {
    background: url(inbox.svg) 3px 2px no-repeat;
    background-size: 14px 14px;
}

.header_leads_export {
    background: url("export.png") no-repeat left center;
    padding: 2px 0 3px 22px;
}

.header_export_csv {
    background: url("export_csv.png") no-repeat left center;
    padding: 2px 0 3px 22px;
}

.header_export_excel {
    background: url("export_excel.png") no-repeat left center;
    padding: 2px 0 3px 22px;
}

table.multicolumnwizard td.column_display div {
    color: #ccc;
    font-size: 8px;
}
