#tl_navigation .group-leads {
    background: url(../images/inbox.svg) 3px 2px no-repeat;
    background-size: 14px 14px;
}

#tl_buttons .leads_export__csv {
    background-image: url(../images/export_csv.png) !important;
}

#tl_buttons .leads_export__xls,
#tl_buttons .leads_export__xlsx {
    background-image: url(../images/export_excel.png) !important;
}

table.multicolumnwizard td.column_display div {
    color: #ccc;
    font-size: 8px;
}
